

.section-one {
  background-color:#1F2937;
  color: white;
  display: flex;
  flex-direction: column;

}

.header {
  display: flex;
  gap: 500px;

}

ul {
 display: flex;
 list-style-type: none;
 gap: 20px;

}

.subsection-one {
display: flex;
align-items: center;
justify-content: center;
gap: 60px;



}

.section-right {


}

