* {
  font-family:Trebuchet MS,'Times New Roman', Times, serif
}


body {
  height: 100vh;
  margin: 0;
}

.section-one {
  background-color:#1F2937;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 125px;
  

}

.one-maintext {
  color: white;
  font-size: 48px;

}
.one-subtext {
  font-size: 18px;
  color: #E5E7EB;

}

.header {
  display: flex;

}

ul {
 display: flex;
 list-style-type: none;
 gap: 20px;
 color: lightgray; 
 
}

li {
  font-size: 18px;
}

.subsection-one {
display: flex;
align-items: center;
justify-content: space-evenly;
gap: 0px;
}

.subsection-left {
  



}

.subsection-right {

  
}



.sign-up-button {
font-size: 15px;
height: 35px;
width: 110px;
background-color: #3882F6;
color: white;
border-radius: 5px;
border: 50px;
}
